{% extends "registration/base.html" %}
{% block content %}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Создание аккаунта</h1>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        {{form.last_name}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{form.name}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{form.middle_name}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{form.date_of_birth}}
                                </div>
                                <div class="form-group">
                                        {{form.email}}
                                </div>
                                <div class="form-group">
                                        {{form.phone_number}}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.login}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form.password}}
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Зарегистриоваться">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Забыл пароль?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Есть аккаунт? Войти!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>


{% endblock %}